<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ProductMapper">

    <select id="selectProductByPrice" resultType="Product">
        SELECT prod_name, prod_desc
        FROM products
        WHERE prod_price >= #{priceLowerBound}
    </select>

    <select id="selectVendorByProdId" resultType="Vendor">
        SELECT vendors.vend_name,vendors.vend_id
        FROM vendors,products
        WHERE products.prod_id = #{id}
        AND vendors.vend_id = products.vend_id
    </select>
</mapper>



