<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.springsecurity.mapper.RedisUserMapper">

    <insert id="addRedisUser">
        INSERT INTO redis_user
        (user_name)
        VALUES (#{name})
    </insert>


    <delete id="deleteRedisUser">
        DELETE FROM redis_user
        WHERE user_name=#{name}
    </delete>

    <select id="queryIfContainsUser" resultType="java.lang.String">
        SELECT user_name
        FROM redis_user
        WHERE user_name=#{name}
    </select>
</mapper>